$(".right").html("<%= j render 'company_information/company_picture' %>").append("<%= j render 'company_information/edit_form' %>");;
$(".right").append('<div class="success-message">Information added successfully.</div> <br> Pending Verification!');
