/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require chosen
 */

 body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
 }

 :root{
  --ss-primary-color: #9754cb!important;
  --ss-focus-color: #9754cb!important;
 }

 @font-face {
   font-family: 'GothamPro-Medium';
   src: font-url("GothamPro-Medium.woff");
 }

 @font-face {
  font-family: 'GothamPro';
  src: font-url("GothamPro.woff");
}

.flash-alert{
  color:red;

}

.flash-success{
  color:green;
}

.success-message{
  color: green;
}

.error-message{
  color: red;
}

#flash-messages{
  color: #000;
  padding-top: 110px;
  position: fixed;
  z-index: 20;
}

.text-class{
  font-family:'GothamPro'; 
  color:#000 !important; 
  font-size:1.25rem!important;
}

.text-title{
  font-family:'GothamPro'; 
  color:#000; 
  font-size: 3rem;
  font-weight: bold!important;
}

.text-subtitle{
  font-family:'GothamPro'; 
  color:#9754cb; 
  font-size:2.3rem;
  text-decoration: none;
}

.job-link{
  margin: 0!important;
  padding-top: 10px!important;
}

.red{
  color: red !important;
}

.purple-link{
  color: #9754cb;
  text-decoration: none;
}

.underline:hover{
  text-decoration: underline !important;
}