%div.container
  %div.job-feed
    %h1{style:"text-align: center;"} 
      Your page

    %div.create-job
    = link_to "Post a new job", render_create_job_path(id: current_user.id), class: "create-job-button", remote: true


    %div.available-jobs
      = render "jobs_list"

    = javascript_include_tag 'cv'
