%div.wrapper-admin
  %button.show_users Show All Users
  %div.left1
    %div.users{style: "display: none;"}
      = render "users"


  %button.show_companies Show Companies Pending Approval
  %div.left1
    %div.companies_pending{style: "display: none;"}
      = render "companies_pending"


%script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" }
:javascript
  $(".show_users").click(function() {
    $(".users").slideToggle();
  });

  $(".show_companies").click(function() {
    $(".companies_pending").slideToggle()
  });
