%div.skill-wrapper#undernav
  %h1
    All available skills

  = link_to "Create new skill", new_skill_path, class: "new-button"

  - @skill.each do |skill|
    %div.skill-info
      %p= skill.title
      = button_to "Delete skill", skill_path(skill.id), method: :delete, class: "edit-button"

= paginate @skill
