<% if @name == "education" %>
  var renderedEducationPartial = "<%= j render 'education_form' %>";
  var closeButton = $('<button class="delete-button" onclick="hideEducationForm(this)">Cancel</button>');
  $("#create-education-container").html(renderedEducationPartial).append(closeButton).hide().fadeIn(700);
  $("#add-education-button").hide(); // Hide the "Add education" button
<% elsif @name == "experience" %>
  var renderedExperiencePartial = "<%= j render 'experience_form' %>";
  var closeButton = $('<button class="delete-button" onclick="hideExperienceForm(this)">Cancel</button>');
  $("#create-experience-container").html(renderedExperiencePartial).append(closeButton).hide().fadeIn(700);
  $("#add-experience-button").hide(); // Hide the "Add experience" button
<% end %>

// Function to hide the education form container
function hideEducationForm(button) {
  $("#create-education-container").hide();
  $(button).hide();
  $("#add-education-button").fadeIn(700); // Show the "Add education" button
}

// Function to hide the experience form container
function hideExperienceForm(button) {
  $("#create-experience-container").hide();
  $(button).hide();
  $("#add-experience-button").fadeIn(700); // Show the "Add experience" button
}
